html, body {
    height: 110%; /* 高さを100%に設定して、全画面をカバー */
}

body {
    background-image: url('/images/sake.jpg'); 
    background-size: 90px 90px; 
    background-position: top; 
    background-repeat: repeat-xy;
    font-family: 'Source Sans Pro', sans-serif;
}

.card {
    color: rgb(0, 0, 0);
    background-color: rgb(203, 245, 201);
}

.custom-navbar {
    background-color: aquamarine;
}

.navbar-brand {
    font-size: 28px;
}

.nav-item {
    font-size: 18px;
}

.bottom-space {
    margin-bottom: 70px;
}

.font-color {
    font-style: italic;
    padding-top: 100px;
    margin-bottom: 100px;
}

.highlight {
    background-color: yellow;
    padding: 0 10px 0 10px
}

.test-account {
    text-align: center;
}

.test-pass {
    text-align: center;
}

@keyframes verticalMove {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

.text-center.font-color {
    animation: verticalMove 2.5s infinite;
}

.pagination-sm li a, .pagination-sm li span {
    padding: 5px 10px; /* パディングを調整 */
    font-size: 9px; /* フォントサイズを小さく */
}

/* スマートフォン向けのスタイル */
@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

/* タブレット向けのスタイル */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

/* デスクトップ向けのスタイル */
@media (min-width: 1025px) {
    .container {
        width: 80%;
    }
}
